
.header-page {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px; /* Adjust the height as needed */
}

.plus-image {
  position: fixed; /* Position the image absolutely */
  height: auto;
  top: 0; /* Position it at the bottom of the parent container */
  left: 0; /* Center it horizontally */
}
