/* .App {
  text-align: center;
  width: 70vw; /* Set width to 75% of the viewport width */
  /* margin: 0 auto; /* Center the element */
  /* position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(211, 209, 187); /* Set the background color using RGB values */

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0 auto; /* Center the element */
    width: 70%; /* Set width to 70% of the viewport width */
    max-width: 70%; /* Set a maximum width of 70% */
    background-color: rgb(211, 209, 187); /* Add your desired background color */
    overflow-y: scroll; /* Enable vertical scrolling */
  }

  .content-container {
    margin-top: 100px; /* Adjust the top margin to match the header's height */
    margin-bottom: 100px; /* Adjust the bottom margin to match the footer's height */
    overflow-y: auto; /* Enable vertical scrolling when the content overflows */
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
