@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "diatype";
  src: url("./fonts/ABCDiatypeCondensed-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1024px) {
  .newsletter-paragraph {
    display: none;
  }

  .contact-bottom {
    display: none;
  }

  .logo-top {
    margin-right: 242px;
  }

}

@media (max-width: 1024px) {
  .contact-top {
    display: none;
  }

  .images-bottom {
    display: none;
  }

}

.contact-top {
  margin-left: 172px;
}

.vc-bottom {
  margin-left: 172px;
}

.city_state-bottom {
  margin-left: 34px;
}

.newsletter-bottom {
  margin-right: 172px;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255); /* Unified background color */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


html {
  scroll-behavior: smooth;
}


.image-container {
  position: relative;
  width: 800px;
  height: 300px;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
}

.image-hidden {
  opacity: 0;
}

img {
  transition: opacity 1s ease-in-out;
}
