@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'diatype';
  src: url('./fonts/ABCDiatypeCondensed-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1024px) {
  .newsletter-paragraph {
    display: none;
  };

  .contact-bottom {
    display: none;
  };

}

@media (max-width: 1024px) {
  .contact-top {
    display: none;
  }

  .logo-top {
    margin-right: 140px;
  }


  .images-bottom {
    display: none;
  }

}

.contact-top {
  margin-left: 140px;
  text-align:right;
  margin-right: -220px;
}

.vc-bottom {
  margin-left: 140px;
}

.city_state-bottom {
  margin-left: 56px;
}

.newsletter-bottom {
  margin-right: 140px;
}


body {
  margin: 0;
  background-color: rgb(255, 255, 255); /* Unified background color */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-underline {
  text-decoration-color: rgba(89, 90, 68, 0.5); /* Set the underline color with 50% opacity */
}
